@tailwind base;
@tailwind components;
body
{
    background-image: url("./weather.jpg");
     height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div
{
    opacity: 0.9;
}
form 
{
    opacity: 2 !important;
}
@tailwind utilities;
